html
    head
        title="Mi primer html con pug" 
    body
        h1(style="color:blue")!=titulo
        spam=min+" "
        meter(value=nivel 
                min=min 
                max=max 
                style="width:30%; height:20px")
        spam=" "+max